body {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
}

#gameScreen {
    /* These prevent touch screen users to have interruptions when playing */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    background-color: black;
    border: 4px solid gray;
    margin: 0;
    aspect-ratio: 16/9;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uiButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 20px;
    background-color: dimgray;
    width: 150px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.visuallyHidden {
    visibility: hidden;
}

/* Mobile Screens (≤ 600px) */
@media (max-height: 600px) {
    .uiButtons {
        width: 200px;
    }
}