body
{
    min-width: 1000px;
    min-height: 650px;
    margin: 0;
    background-color: black;
}

#gameScreen
{
    background-image: url("../images/SpaceBackground256x256.png");
    background-size: auto;
    background-repeat: repeat;
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    margin: 0;
    width: 980px;
    height: 600px;
}

.UI.buttons
{
    float: left;
}