body
{
    min-width: 1000px;
    min-height: 500px;
    margin: 10px;
    background-image: url("../images/SpaceBackground256x256.png");
    background-size: auto;
    background-repeat: repeat;
}

h1
{
    width: 1000px;
    height: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

#Section1
{
    float: right;
    margin-right:25dvw;
    margin-top: 50dvh;
    background-color: red;
}

#Section2
{
    float: left;
    background-color: red;
}

#UpgradeButton
{
   border-color: red;
}

#HowToPlayButton
{
    margin-top: 10%;
    border-color: red;
}

#LeaderBoardButton
{
    border-color: red;
}

#CreditButton
{
    margin-top: 10%;
    border-color: red;
}

#myCanvas
{
    border: 1px solid gray;
}

.buttons
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.button
{
    width: 300px;
    height: 50px;
    background: darkgray;
    border: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 15px;
    padding: 0px;
    overflow: hidden; /*Makes sure that the you can only click the button and not outside of it, etc. sqaure boundary*/
}

.MyButton
{
    color: blue;
}
