h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

#backButton, #nextButton {
    background: darkgray;
    border: 5px solid gray;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.5s;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    text-shadow: 1px 1px 3px white;
    position: absolute;
    top: 80px;
}

#backButton {
    left: 8%;
}

#nextButton {
    right: 8%;
}

.upgradesList {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.upgradeButton {
    width: 750px;
    height: 65px;
    background: darkgray;
    border: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 15px;
    padding: 0px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 40% 15% 10% 10% 25%;
    align-items: center;
}

.buyButton {
    width: 175px;
    height: 50px;
    background: darkgray;
    border: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 15px;
    padding: 0px;
    cursor: pointer;
    transition: background 0.5s;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    color: yellow;
    margin: 0;
    text-shadow: 1px 1px 3px black;
}

.buyButton:hover, #backButton:hover, #nextButton:hover {
    background: gold;
    border-color: goldenrod;
}

.statTitle, .statLV, .currentStat, .nextStat {
    margin: 0;
    text-shadow: 1px 1px 3px black;
}

.statLV, .currentStat, .nextStat {
    text-align: center;
}

.statTitle {
    padding-left: 5%;
}

.currentStat {
    color: limegreen;
}

.nextStat {
    color: yellow;
}

/* Tablet Screens (≤ 900px) */
@media (max-width: 900px) {
    
    .upgradeButton {
        width: 500px;
        height: 75px;
        font-size: large;
    }

    .buyButton {
        width: 100px;
        height: 60px;
        font-size: large;
        margin-left: 5%;
    }
}

/* Mobile Screens (≤ 600px) */
@media (max-width: 600px) {
    
    #backButton, #nextButton {
        width: 55px;
        height: 55px;
        font-size: large;
        top: 50px;
    }

    #nextButton {
        width: 110px;
    }

    .upgradeButton {
        width: 450px;
        height: 70px;
        font-size: large;
    }

    .buyButton {
        width: 100px;
        height: 60px;
        font-size: large;
    }

}