body
{
    min-width: 1000px;
    min-height: 500px;
    margin: 10px;
    background-image: url("../images/SpaceBackground256x256.png");
    background-size: auto;
    background-repeat: repeat;
}

h1
{
    width: 1000px;
    height: 50px;
}

img {
  max-width: 100%;
  height: auto;
}

#PlayButton
{
    width: 128px;
    height: 128px;
    background-color: transparent;
    border-color: transparent;
    border: 0px;
    padding: 0px;
    border-radius: 100%;
    overflow:hidden; /*Makes sure that the you can only click the button and not outside of it, etc. sqaure boundary*/
    position: absolute;
    top: 40%;
    left: 45%;
}

#Section1
{
    float: right;
    margin-right:25dvw;
    margin-top: 50dvh;
    background-color: red;
}

#Section2
{
    float: left;
    background-color: red;
}

#UpgradeButton
{
   border-color: red;
}

#HowToPlayButton
{
    margin-top: 10%;
    border-color: red;
}

#LeaderBoardButton
{
    border-color: red;
}

#CreditButton
{
    margin-top: 10%;
    border-color: red;
}

#myCanvas
{
    border: 1px solid gray;
}

.MyButton
{
    color: blue;
}
