/*HTML files: bugReport, credits, gameMenu, howToPlay, index, settings, upgrades*/

body {
    margin: 0;
    background-color: black;
    background-image: url("../images/SpaceBackground256x256.jpg");
    background-repeat: repeat;
}

h1, h2 {
    color: yellow;
    font-family: serif;
    text-align: center;
    margin-top: 60px;
    text-shadow: 1px 1px 3px gray; 
}

h1 {
    font-size: 40pt;
    margin-bottom: 75px;
}

h2 {
    font-size: 30pt;
    margin-bottom: 25px;   
}

a, p, li {
    color: white;
    text-shadow: 1px 1px 3px lightskyblue;    
    font-size: 15pt; 
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

/*Works correctly when inside a content id*/
#headerLeft, #headerRight{
    position: absolute;
    top: 75px;
}

#headerRight {
    right: 150px;
}

#content {
    margin: 0 150px;
}

#content2 {
    margin: 0 150px 200px 150px;
}

.alignTextCenter {
    text-align: center;
    list-style: none;
    padding: 0;
}

.menuNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button, .buttonLink {
    width: 300px;
    background: darkgray;
    border: solid;
    border-color: gray;
    border-width: 5px;
    border-radius: 15px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s;
    font-weight: bold;
    font-family: sans-serif;
    font-size: x-large;
    color: black;
    text-shadow: 1px 1px 3px white;
    text-align: center;
    text-decoration: none;
}

.button {
    height: 65px;
}

.buttonLink {
    height: 30px;
}

.button:hover, .buttonLink:hover {
    background: gold;
    border-color: goldenrod;
    color: black;
    text-decoration: none;
}

.smallButton {
    width: 100px;
    height: 30px;
    font-size: large;
}

.mediumButton {
    width: 150px;
    height: 60px;
    font-size: large;
}

.hidden {
    display: none;
}

/* Large Screens (>= 1200px) */
@media (min-height: 1200px) {
    ul {
        margin-left: 80px;
        margin-right: 80px;
    }

    h1 {
        font-size: 64pt;
        margin-bottom: 30px;
        color: green;
    }

    h2 {
        font-size: 48pt;
    }

    .button, .buttonLink {
        width: 400px;
        height: 75px;
        font-size: xx-large;
    }

    a, p, li {
        font-size: 25pt;
    }

    #content2 {
        margin: 0 250px 200px 250px;
    }

}

/* Mobile Screens (<= 600px) */
@media (max-height: 600px) {
    
    body {
        min-width: 0;
        margin: 5px;
    }

    ul {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 40pt;
        margin-top: 40px;
        margin-bottom: 15px;
        color: red;
    }

    h2 {
        font-size: 20pt;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a, p, li {
        font-size: 25pt;
    }

    #content {
        margin: 0;
    }

    #tableOfContents {
        line-height: 2;
        column-count: 2;
    }

    #headerRight {
        right: 5px;
    }

    .button, .buttonLink {
        width: 200px;
        height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: x-large;
    }

    .menuNav {
        flex-wrap: wrap;
        height: 230px;
        align-content: center;
        column-gap: 50px;
        row-gap: 50px;
    }

    .mediumButton {
        width: 150px;
        height: 60px;
        align-self: center;
    }
}

@media (orientation: portrait) {
    #rotate {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(128, 128, 128, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    #rotateMessage {
        color: yellow;
        text-align: center;
        text-shadow: none;
        font-size: 40pt;
        font-weight:bold;
    }
}

@media (orientation: landscape) {
    #rotate {
        display: none;
    }
}